<!-- NAVIGACIJA SA DESNE STRANE -->

<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav"  position="end" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'" [opened]="!(isHandset$ | async)">

      <mat-toolbar color="primary">Sadržaj</mat-toolbar>

       <!-- U ZAVISNOSTI OD ROLE MENJA SE SADRZAJ TOOLBARA-->
       <mat-nav-list *ngIf="!isLoggedIn()">
        <a mat-list-item href="/login">Uloguj se</a>
        <a mat-list-item href="/register">Registruj se</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isAdmin()">
        <a mat-list-item routerLink="/certificates/all-certificates">Pregled izdatih sertifikata</a>
        <a mat-list-item routerLink="/certificates/issue-root-cert">Izdaj ROOT sertifikat</a>
        <a mat-list-item routerLink="/certificates/issue-cert">Izdaj CA ili END sertifikat</a>
        <a mat-list-item routerLink="/register/admin">Registruj novog administratora</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isUser()">
        <a mat-list-item routerLink="/certificates/download-certificate">Moj sertifikat</a>
      </mat-nav-list>
    
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar color="primary">
        <span>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <button type="button"  mat-icon-button >
              <img class="app-angular-logo" src="assets/images/otisak.png">
          </button>
          {{title}}
        </span>

        <div *ngIf="!isLoggedIn()">
          <button  mat-button mat-ripple routerLink="/login">
              <span>Prijava</span>
          </button>
          <button  mat-button mat-ripple routerLink="/register">
             <span>Registracija</span>
          </button>
        </div>
        <div *ngIf="isLoggedIn()">
          <button  mat-button mat-ripple (click)="onLogout()">
              Odjava
          </button>
        </div>

      </mat-toolbar>

      <!-- Ovde rutiranjem menjas sadrzaj u glavnom prozoru! -->
      <div class="container">

          <router-outlet></router-outlet>

        </div>


    </mat-sidenav-content>

</mat-sidenav-container>
