<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Izdaj ROOT sertifikat</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->

<!-- page-content -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <form [formGroup]="dateForm" class="form-full-width">
                            <mat-form-field class="form-full-width">
                                <input matInput [matDatepicker]=" picker1" placeholder="Datum od" formControlName="dateFrom" readonly [min]="minDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                            </mat-form-field>
            
                            <mat-form-field class="form-full-width">
                                <input matInput [matDatepicker]=" picker2" placeholder="Datum do" formControlName="dateTo" readonly [min]="minDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                            </mat-form-field>
            
                            <mat-error *ngIf="(dateForm.get('dateFrom').errors && dateForm.get('dateFrom').errors['required']) || 
                            (dateForm.get('dateTo').errors && dateForm.get('dateTo').errors['required']) ">
                                Odaberite početni i krajnji datum.
                            </mat-error>
                            <mat-error
                                *ngIf="dateForm.get('dateTo').errors && dateForm.get('dateTo').errors['timeError']">
                                Početni datum mora biti pre krajnjeg datuma.
                            </mat-error>
                        </form>
                        
                       
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->