<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Izdaj ROOT sertifikat</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->

<!-- page-content -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                    
                        <form [formGroup]="certificateForm" class="form-full-width">

                            <mat-form-field class="form-full-width">
                                <mat-label>entitet</mat-label>
                                <mat-select formControlName="entityId">
                                   <mat-option *ngFor="let entity of entities" [value]="entity.id">
                                       {{ entity.firstName + " " + entity.lastName}}
                                    </mat-option> 
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="form-full-width">
                                <mat-label>trajanje sertifikata</mat-label>
                                <mat-select formControlName="duration">
                                    <mat-option value=1>1 godina</mat-option>
                                    <mat-option value=2>2 godine</mat-option>
                                    <mat-option value=3>3 godine</mat-option>
                                    <mat-option value=4>4 godine</mat-option>
                                </mat-select>
                            </mat-form-field>
                       
                            <mat-form-field class="form-full-width">
                                <mat-label>namena sertifikata</mat-label>
                                <mat-select formControlName="keyUsage" multiple>
                                    <mat-option value="DigitalSignature">DigitalSignature</mat-option>
                                    <mat-option value="NonRepudiation">NonRepudiation</mat-option>
                                    <mat-option value="KeyEncipherment">KeyEncipherment</mat-option>
                                    <mat-option value="DataEncipherment">DataEncipherment</mat-option>
                                    <mat-option value="KeyAgreement">KeyAgreement</mat-option>
                                    <mat-option value="KeyCertSign">KeyCertSign</mat-option>
                                    <mat-option value="CRLSign">CRLSign</mat-option>
                                    <mat-option value="EncipherOnly">EncipherOnly</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </form>
                        
                       
                    </div>
                    <!-- /.section-title -->

                    <button mat-raised-button color="primary" (click)="create()" [disabled]="!certificateForm.valid">Kreiraj</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->