<div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <mat-card>
            <h3>Unesite Vašu email adresu</h3>
            <hr>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" formControlName="email" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email je obavezno polje</div>
                        <div *ngIf="f.email.errors.email">Email mora biti ispravna email adresa</div>
                  </div>
              </div>

              <button mat-raised-button color="primary" class="pull-right">OK</button>

            
            </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
